@import '../../../assets/styles/consts.scss';

::ng-deep .mat-sidenav-container {
	background-color: $background;
}

mat-card {
	margin: 20px;
}

.add-buttons {
	button {
		margin: 10px;
		height: 40px;
	}
}

form {
	display: flex;
	justify-content: center;
	align-content: center;
}

/*** Dropzone ***/
.box {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 0;

	.dropzone {
		background: whitesmoke;
		border: 3px grey dashed;
		border-radius: 17px;
		display: inherit;
		flex-direction: inherit;
		justify-content: inherit;
		align-items: inherit;
		width: 80vw;
		height: 200px;
	}

	h3,
	i {
		color: grey;
	}

	.active {
		border: 3px mat-color($primary) solid;

		h3,
		i {
			color: mat-color($primary);
		}
	}
}

/*** Image preview ***/
.preview-container {
	max-width: 420px;

}
