::ng-deep .mat-dialog-container {
	padding: 0;
	background-color: transparent;
}

mat-card {
	position: relative;
}

.close-button-container {
	position: absolute;
	top: 17px;
	right: 17px;

	button {
		margin-left: 10px;
	}
}

.image-container {
	max-height: 70vh;
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;

	img {
		object-fit: contain;
		max-width: 80vw;
		max-height: 70vh;
	}
}
