::ng-deep .mat-dialog-container {
	padding: 0;
	background-color: transparent;
}

mat-card {
	position: relative;
}

.close-button-container {
	position: absolute;
	top: 17px;
	right: 17px;

	button {
		margin-left: 10px;
	}
}

.image-container {
	max-height: 70vh;
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;

	img {
		object-fit: contain;
		max-width: 80vw;
		max-height: 70vh;
	}


}

// .img-large-container:before {
// 	content: "";
// 	background: black;
// }

// .img-large-overlay {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	bottom: 0;
// 	right: 0;
// 	background: black;
// 	z-index: 69;
// }

.img-large-container {
	max-height: 100vh;
	max-width: 100vw;

	.img-large {
		object-fit: none;
		// max-width: none;
		// max-height: 90vh;
		cursor: -moz-zoom-out;
		cursor: -webkit-zoom-out;
		cursor: zoom-out;
		z-index: 99;
	}
}
