@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/styles/consts.scss";

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

body::before {
	content: "";
	background-image: url("assets/bg-img-1.jpg");
	filter: brightness(90%);
	background-size: cover;
	background-position: center;
	position: fixed;
	height: 100%;
	width: 100%;
}

a {
	cursor: pointer;
}
